:root{
    --pr-hijau:#048853;
}




body{
    font-family: "Poppins";
    background-color: E5E5E5;
}
/* navbar style */
.navbar-brand{
    font-size: 20px;
    font-weight: 700;
}
.nav-link.active{
    font-size: 16px;
    font-weight: 700;
}
.nav-link{
    font-size: 16px;
    font-weight: 400;
}
.btn-masuk{
    width: 133px;
    height: 40px;
    background-color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--pr-hijau);
}
.btn-daftar{
    width: 133px;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color:#fff;
}
/* navbar end */

/* style hero */
#hero{
    background: linear-gradient(160deg,var(--pr-hijau),#000);
    height: 100vh;
}
.text-hero h1{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 70px;
}
/* and style hero */
.text-hero p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 30px;
  width: 80%;
}
.btn-lg {
  width: 237px;
  height: 70px;
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  color: var(--pr-hijau);
  border: none;
}
/* layanan */
#our-service{
    height: 100vh;
}
.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #8b7a7a;
}
.card-layanan{
    height: 313px;
    padding: 40px;
    background: linear-gradient(160deg, var(--pr-hijau), #000000e4);
    border-radius: 5px;
}
/* end lay */