:root{
    --pr-hijau:#048853;
}


body{
    font-family: "Poppins";
    background-color: #E5E5E5 ;
}

.navbar{
    z-index: 3;
}
*{
    z-index: 2;
}
.accent-banner{
    z-index: 1;
}

/* navbar style */
.navbar-brand{
    font-size: 20px;
    font-weight: 700;
}
.nav-link.active{
    font-size: 16px;
    font-weight: 700;
}
.nav-link{
    font-size: 16px;
    font-weight: 400;
}
.btn-masuk{
    width: 133px;
    height: 40px;
    background-color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--pr-hijau);
}
.btn-daftar{
    width: 133px;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color:#fff;
}
/* navbar end */

/* style hero  */
#hero{
    background: linear-gradient(160deg, var(--pr-hijau), #000);
    height: 100vh;
}
.text-hero h1{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 70px;
}

.text-hero p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    width:75%;
}

.btn-lg{
    width: 237px;
    height: 70px;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
    color: var(--pr-hijau);
    border:none;
}


/* end style hero */

/* layanan style */
#our-service{
    padding: 100px 0;
    width: 100%;
}
h1{
    font-size: 45px;
    font-weight: 600;
    color: var(--pr-hijau);
}
p{
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
.card-layanan{
    height: 313px;
    border-radius: 5px;
    background-color: #fff;
    padding: 40px;
    transition: all 0.1s ease-in;
}
.container-img{
    height: 70px;
    width: 70px;
    background-color: var(--pr-hijau);
    border-radius: 50%;
    transition: all 0.1s ease-in;
}
.card-layanan h4{
    font-size: 24px;
    font-weight: 500;
    color:var(--pr-hijau);
    transition: all 0.1s ease-in;
}
.card-layanan p{
    font-size: 14px;
    font-weight: 400;
    color:#000;
    transition: all 0.1s ease-in;
}

/* hover card */
.card-layanan:hover{
    background: linear-gradient(160deg, var(--pr-hijau), #000);
    transition: all 0.1s ease-in;
}
.card-layanan:hover .container-img{
    background-color: #fff;
    transition: all 0.1s ease-in;
}
.card-layanan:hover h4{
    color: #fff;
    transition: all 0.1s ease-in;
}
.card-layanan:hover p{
    color: #fff;
    transition: all 0.1s ease-in;
}
/* end hover card */
/* end layanan */

/* style temukan rumah */
#temukan-rumah{
    height: 100vh;
    background-image: url(image/interior\ green.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 110px;
}
.tmk-rumah{
    font-size: 48px;
    font-weight: 700;
    color:#fff ;
}
.sub-tmk-rmh{
    font-size: 18px;
    color: #fff;
}


.btn-tab{
    height: 42px;   
    color: #000;
    background-color: rgb(255,255,255, 0.5);
    border:none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
}
.jual{
    border-radius: 10px 0 0 0;
}
.property{
    border-radius: 0 10px 0 0;
}

.btn-tab.active{
    height: 42px;   
    color:var(--pr-hijau);
    background-color: #fff;
    border:none;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    font-weight: 400;

    transition: all 0.3s ease-in;
}

.input-group{
    height: 88px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 0 10px;
}

.btn-cari{
    width: 135px;
    height: 100%;
    border: none;
    background-color: var(--pr-hijau);
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.btn-search{
    border: none;
    background-color:transparent;
    color: var(--pr-hijau);
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
}

/* end style  temukan rumah */

/* style rekomendasi rumah */
#rekomendasi{
    margin: 60px;
}
.card-rek{
    height: 489px;
    width: 380px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}
.card-rek:hover{
    background-color: var(--pr-hijau);
    transition: 0.5s ease;
}
.card-gbr{
    height: 280px;
}
.idr{
    font-size: 24px;
    font-weight: 600;
    color: #000;
}
.jl{
    font-size: 14px;
    font-weight: 400;
}
.fasilitas{
    height: 67px;
    background-color:;
}
.sub-fsi{
    font-size: 12px;
    font-weight: 400;
}
.row{
    padding: 10px;
    margin: 15px;
}
/* end style rekomendasi rumah */